<p>This is an example template hosted in Media Theme.</p>
<p>Below is an image also hosted in Media Theme:</p>
<img src="{{ '~/mediatheme/example.png' | href }}" alt="example" />

{% assign favicon = '~/mediatheme/favicon.ico' | href %}
{% link rel:"icon", type:"image/ico", sizes:"48x48", href:favicon, append_version:"true" %}
