{% comment %}
Keep this in sync with the template and files in Lombiq.Hosting.MediaTheme.Tests.Theme.
{% endcomment %}

{% assign stylesUrl = "~/mediatheme/example.css" | href %}
{% style src:stylesUrl %}

<p>This is an example template hosted in Media Theme.</p>
<p>Below is an image also hosted in Media Theme:</p>
{% comment %}
The images are from https://unsplash.com/.
{% endcomment %}
<img src="{{ '~/mediatheme/example.png' | href }}" alt="example" />

<img src="{{ '~/mediatheme/example2.png' | href |  append_version }}" alt="example2" />

