@model MediaThemeDeploymentStepViewModel

<h5>@T["Media Theme"]</h5>

<div class="mb-3">
    <div class="form-check">
        <label class="form-label form-check-label">
            <input class="form-check-input" asp-for="ClearMediaThemeFolder"
                   data-reverseToggle=".media-sel"/>
            @T["Clear Media Theme files when imported."]
        </label>
    </div>
    <div class="hint">@T["If enabled, make sure it happens before importing any Media Theme files (e.g., using the media step)."]</div>
</div>
